<% content_for :title do %>
  Admin
<% end %>

<% content_for :header_icon do %>
  <%= header_link :root %>
<% end %>

<%= link_to admin_users_path do %>
  <div class="adminButtons">
    MANAGE USERS
  </div>
<% end %>

<%= link_to admin_locations_path do %>
  <div class="adminButtons">
    MANAGE LOCATIONS
  </div>
<% end %>

<%= link_to admin_categories_path do %>
  <div class="adminButtons">
    MANAGE CATEGORIES
  </div>
<% end %>
