<% if false %>
  <%= link_to edit_user_registration_path do %>
    <button class="bigBottomButtonLeftTop button">
      <i class="fi-torso size-48"></i><br>USER
    </button>
  <% end %>
<% end %>

<%= link_to ingredients_expiring_path do %>
  <button class="bigBottomButtonRightTop button">
    <i class="fi-x-circle size-48"></i><br>EXPIRING
  </button>
<% end %>

<%= link_to categories_path do %>
  <button class="bigBottomButtonRight button">
    <i class="fi-magnifying-glass size-48"></i><br>CATEGORY
  </button>
<% end %>

<%= link_to locations_path do %>
  <button class="bigBottomButtonLeft button">
    <i class="fi-magnifying-glass size-48"></i><br>LOCATION
  </button>
<% end %>
