<ul class="breadcrumbs">
  <h1 id="titleHeading" class="titleHeading">PREPARE</h1>
  <span class="breadButtonRack">
		<input type="button" class="cartBreadButton backButton"   onclick="history.back(-1)" value="BACK"  />
	</span>
</ul>

<div class="rootButtonRack">

  <%= link_to ingredients_expiring_path do %>
    <div class="mainButton">
      <i class="fi-x-circle"></i><br>EXPIRING ITEMS
    </div>
  <% end %>

  <%= link_to ingredients_search_path do %>
    <div class="mainButton">
      <i class="fi-magnifying-glass"></i><br>SEARCH BY ID
    </div>
  <% end %>

  <%= link_to categories_path do %>
    <div class="mainButton">
      <i class="fi-magnifying-glass"></i><br>CATEGORY SEARCH
    </div>
  <% end %>

  <%= link_to locations_path do %>
    <div class="mainButton">
      <i class="fi-magnifying-glass"></i><br>LOCATION SEARCH
    </div>
  <% end %>

</div>
