<ul class="breadcrumbs">
  <br>
  <br>
</ul>

<div class="mainButtonRack">

  <%= link_to ingredients_expiring_path do %>
    <div class="mainButton">
      <i class="fi-x-circle"></i><br>EXPIRING
    </div>
  <% end %>
  
  <%= link_to admin_path do %>
    <div class="mainButton">
      <i class="fi-magnifying-glass"></i><br>SEARCH BY ID
    </div>
  <% end %>

  <%= link_to categories_path do %>
    <div class="mainButton">
      <i class="fi-magnifying-glass"></i><br>CATEGORY
    </div>
  <% end %>

  <%= link_to locations_path do %>
    <div class="mainButton">
      <i class="fi-magnifying-glass"></i><br>LOCATION
    </div>
  <% end %>
  
</div>