<%= link_to ingredients_expiring_path do %>
  <button class="fatButtonPrepare btn">
    <i class="fi-x size-48"></i><br>EXPIRING
  </button>
<% end %>

<%= link_to ingredients_path do %>
  <button class="fatButtonPrepare btn">
    <i class="fi-magnifying-glass size-48"></i><br>INVENTORY
  </button>
<% end %>

<%= link_to ingredients_path do %>
  <button class="fatButtonPrepare btn">
    <i class="fi-magnifying-glass size-48"></i><br>CATEGORY
  </button>
<% end %>

<%= link_to ingredients_path do %>
  <button class="fatButtonPrepare btn">
    <i class="fi-magnifying-glass size-48"></i><br>LOCATION
  </button>
<% end %>
