<li>
  <%= location.name %>
  <%= link_to "Add nested", new_admin_location_path(parent_id: location) %>
  <%= link_to "Delete", admin_location_path(location), data: {confirm: "You sure?"}, method: :delete %>
</li>
