<li>
  <%= location.name %>
  <%= link_to new_admin_location_path(parent_id: location) do %>
    <button class="addSublocation">Add sublocation</button>
  <% end %>
  <%= link_to admin_location_path(location), confirm: "You sure?", method: :delete do %>
    <button class="deleteSublocation"><i class="fi-x-circle size-24 makeBlack"></i></button>
  <% end %>
</li>
