<% if location.parent %>
  <li class="adminLocationList">
<% else %>
  <li class="adminLocationListRoot">
<% end %>
  <%= link_to admin_location_path(location), data: {confirm: "You sure?"}, method: :delete do %>
    <% if location.root? %>
      <span class="deleteSublocation"><i class="fi-x-circle makeBlack"></i></span>
    <% elsif location.children? %>
      <span class="deleteSublocationLight"><i class="fi-x-circle makeBlack"></i></span>
    <% else %>
      <span class="deleteSublocationLighter"><i class="fi-x-circle makeBlack"></i></span>
    <% end %>
  <% end %>
  <%= link_to new_admin_location_path(parent_id: location) do %>
    <span class="addSublocation"><i class="fi-plus makeBlack"></i></span>
  <% end %>
  <%= location.name %>

</li><br>
