<div class="breadcrumbs">
  <%= link_to "ADMIN TOOLS", admin_path %> &gt;

  LOCATIONS
</div>

<div class="adminControlContainer">
  <h4>Add a Top Level Location Label</h4>
  <%= render "form" %>
  <hr>
  <p class="warningLabel">If you delete a top level location label, all labels nested underneath it will be deleted as well!</p>
  <ul class="adminLocationUL">
    <%= nested_locations @locations.arrange(order: :name) %>
  </ul>
<br>
<br>
<br>
<br>
</div>
