<% content_for :title do %>
  Manage Locations
<% end %>

<% content_for :header_icon do %>
  <%= header_link admin_path %>
<% end %>

<!-- <p>This is where you can add, edit, or delete food bank locations. Be careful though! If you delete a top level location, all elements nested underneath it will be deleted as well!</p> -->

<h5>Add a Top Level Location</h5>
<%= render "form" %>

<ul>
  <%= nested_locations @locations.arrange(order: :name) %>
</ul>
