<div class="breadcrumbs">
  <%= link_to "ADMIN TOOLS", admin_path %> &gt;
  <%= link_to "LOCATIONS", admin_locations_path %> &gt;
  NEW
</div>

<%= render 'shared/form_errors', object: @location %>

<div class="adminControlContainer">
  <h4>Add Nested Sublocation to:</h4>
  <%= render "form" %>
</div>
