<ul class="breadcrumbs">
<br>
</ul>

<div class="listContainer">
  <ul class="theList">
    <% @locations.each do |location| %>
      <li>
        <%= hierarchy_link(location, :relocate, @ingredient, "button listButtons") %>
      </li>
    <% end %>
  </ul>
</div>

