<div class="breadcrumbs">
  <%= link_to @ingredient.name, @ingredient %> &gt;

  SELECT LOCATION
</div>

<div class="listContainer">
  <ul class="mainUL">
    <% @locations.each do |location| %>
      <li>
        <%= hierarchy_link(location, :relocate, @ingredient, "button listButtons") %>
      </li>
    <% end %>
  </ul>
</div>
