<ul class="breadcrumbs">
<br>
</ul>

<div class="listContainer">
  <ul class="theList" id="smoothScroll">
    <% @locations.each do |location| %>
    <li>
        <%= link_to location.name, relocate_ingredient_location_path(@ingredient, location), class: "button listButtons" %>
    </li>
    <% end %>
  </ul>
</div>

<a href="javascript:history.back()" class="button bigBottomButtonRight"><br><br><i class="fi-arrow-left size-48"></i></a>
