<ul class="breadcrumbs">
	<br>
	<span class="breadButtonRack">
		<%= link_to :back do %>
			<span class="cartBreadButton"><i class="fi fi-arrow-left"></i><br>BACK</span>
		<% end %>
	</span>
</ul>

<div class="listContainer">
  <ul class="theList">
    <% @locations.each do |location| %>
      <li>
        <%= hierarchy_link(location, :relocate, @ingredient, "button listButtons") %>
      </li>
    <% end %>
  </ul>
</div>
