<div class="breadcrumbs">
  <%= link_to @ingredient.name, @ingredient %> &gt;

  <%= link_to "Select Location", relocate_ingredient_locations_path(@ingredient) %> &gt;

  <%= @location.name.upcase %>
</div>

<ul class="theList">
  <% @sublocations.each do |location| %>
    <li>
      <%= hierarchy_link(location, :relocate, @ingredient, "button listButtons") %>
    </li>
  <% end %>
</ul>
