<ul class="breadcrumbs">
	<br>
	<br>
</ul>

<div class="mainButtonRack">

  <%= link_to recentlylogged_path do %>
    <div class="mainButton">
      <i class="fi-magnifying-glass"></i><br>SEARCH BY ID
    </div>
  <% end %>

  <%= link_to recentlylogged_path do %>
    <div class="mainButton">
      <i class="fi-clock"></i><br>RECENT
    </div>
  <% end %>

  <%= link_to ingredients_unarranged_path do %>
    <div class="mainButton">
      <i class="fi-marker"></i><br>UNLOCATED
    </div>
  <% end %>

  <%= link_to store_categories_path do %>
    <div class="mainButton">
      <i class="fi-plus"></i><br>ITEM
    </div>
  <% end %>
  
</div>