<%= link_to ingredients_unarranged_path do %>
  <span class="button bigBottomButtonLeft">
    <br><i class="fi-marker size-48"></i><br>UNLOCATED
  </span>
<% end %>

<%= link_to store_categories_path do %>
  <span class="button bigBottomButtonRight">
    <br><i class="fi-plus size-48"></i><br>ITEM
  </span>
<% end %>
