<div id="rootTitle" class="rootTitle"><p class="size-48">STORE    <i class="fa fa-cube size-48"></i></p></div>

<%= link_to recentlylogged_path do %>
  <span class="button bigBottomButtonLeftTop">
    <br><i class="fi-magnifying-glass size-48"></i><br>SEARCH BY ID
  </span>
<% end %>

<%= link_to recentlylogged_path do %>
  <span class="button bigBottomButtonRightTop">
    <br><i class="fi-clock size-48"></i><br>RECENT
  </span>
<% end %>

<%= link_to ingredients_unarranged_path do %>
  <span class="button bigBottomButtonLeft">
    <br><i class="fi-marker size-48"></i><br>UNLOCATED
  </span>
<% end %>

<%= link_to store_categories_path do %>
  <span class="button bigBottomButtonRight">
    <br><i class="fi-plus size-48"></i><br>ITEM
  </span>
<% end %>
