<%= link_to ingredients_unarranged_path do %>
  <button class="bigBottomButtonLeft">
    <i class="fi-marker size-48"></i><br>UNLOCATED
  </button>
<% end %>

<%= link_to store_categories_path do %>
  <button class="bigBottomButtonRight">
    <i class="fi-plus size-48"></i><br>ITEM
  </button>
<% end %>
