<% if @ingredients.where(:used_on => nil).any? %>
  <div class="ingredientTable">
    <table class="tableFontSize">
      <thead>
        <tr>
          <th width="120">NAME</th>
          <th>ITEM ID</th>
          <th width="130">USED ON</th>
        </tr>
      </thead>
      <tbody>
        <% @ingredients.where.not(:used_on => nil).each do |ingredient| %>
          <tr>
            <td class="tableCell"> <%= ingredient.name %></td>
            <td class="tableCell"> <%= ingredient.id %> </td>
            <td class="tableCell"> <%= ingredient.formatted_time_used %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <%= link_to store_path do%>
    <button class="mainColor arrangeReturn highlightColor">
      <h3>ALL ITEMS PLACED</h3><br>
      <h5><strong>RETURN</strong></h5>
    </button>
  <% end %>
<% end %>