<ul class="breadcrumbs">
  <h1 id="titleHeading" class="titleHeading">INVENTORY SUMMARY</h1>
  <span class="breadButtonRack">
  		<input type="button" class="cartBreadButton"   onclick="history.back(-1)" value="Back"  />
  </span>
</ul>
<% if @ingredients.where.not(:expiring_at => nil).any? %>
  <div class="ingredientTable">
    <table class="tableFontSize">
      <thead>
        <tr>
          <th>NAME</th>
          <th>ID</th>
          <th>CONDITION</th>
        </tr>
      </thead>
      <tbody>
        <% @ingredients.where.not(:expiring_at => nil).each do |ingredient| %>
          <tr>
            <td><%= ingredient.name %></td>
            <td><%= ingredient.id %></td>
            <td>
              <% if ingredient.expiring_at != nil %>
                <% if ingredient.expiring_at.future? %>
                  <div class="freshItem">FRESH</div>
                <% else %>
                  <div class="expiredItem">EXPIRED</div>
                <% end %>
              <% else %>
                N/A
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <%= link_to store_path do%>
    <button class="mainColor arrangeReturn highlightColor">
      <h3>ALL ITEMS PLACED</h3><br>
      <h5><strong>RETURN</strong></h5>
    </button>
  <% end %>
<% end %>
