<div class="ingredientTable">
  <table class="tableFontSize">
    <thead>
      <tr>
        <th width="120">EMAIL</th>
        <th>SIGN IN COUNT</th>
        <th width="150">LAST SIGN IN</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td class="tableCell"> <%= user.email %></td>
          <td class="tableCell"> <%= user.sign_in_count %> </td>
          <td class="tableCell"> <%= user.formatted_time_signin %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<a href="javascript:history.back()" class="button bigBottomButtonRight"><br><br><i class="fi-arrow-left size-48"></i></a>
