<div class="addButton">
	<%= form_for [:store, @category, @ingredient], :html => {:class => "form"} do |f| %>
	  <%= f.button :submit, :class => "btn fatButtonSpecific" do %>
    (Add w/out <br> Location)<br>
      <i class="fi-plus size-48 yellowPlusButton"></i>
	  <% end %>
	<% end %>
</div>
