<div class="ingredientTable">
  <table >
    <thead>
      <tr>
        <th width="100">ITEM</th>
        <th>ITEM ID</th>
        <th width="120">EXPIRING ON</th>
        <th>CART</th>
      </tr>
    </thead>
    <tbody>
      <% @ingredients.each do |ingredient| %>
        <tr>
          <td class="button mainColor tableCell"> <%= link_to ingredient.name, ingredient_path(ingredient)%> </td>
          <td > <%= ingredient.id %></td>
          <td> 
            <% if ingredient.expiring_at.future? %>
              <div class="progress radius success"><span class="meter success" style="width: 67%"></span></div>
            <% else %>
              <div class="progress radius success"><span class="meter success" style="width: 1%">&nbsp;&nbsp;&nbsp;EXPIRED</span></div>
            <% end %>
            <%= ingredient.expiring_at %>
          </td>
          <td> 
            <%= link_to add_to_cart_path(ingredient), method: :post do %>
              <div class="button">
                <i class="fi-shopping-cart size-24 makeBlack"></i>
              </div >
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
