<div class="ingredientTable">
  <table>
    <thead>
      <tr>
        <th width="100">NAME</th>
        <th>LOCATION</th>
        <th width="60">MOVED ON</th>
        <th>LIFESPAN</th>
      </tr>
    </thead>
    <tbody>
      <% @ingredients.each do |ingredient| %>
      <tr>
        
        <td class="button"> <%= link_to ingredient.name, ingredient_path(ingredient)%> </td>
   
        <td> <%= ingredient.location.name %><br><br>
        </td>
        <td> <%= ingredient.formatted_time_update %></td>
        <td> 
        <div class="progress radius success"><span class="meter success" style="width: 67%"></span></div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>