<h3>Unassigned Ingredients</h3>


<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Ingredient</th>
      <th>Location</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
  <% @ingredients.each do |ingredient| %>
    <tr>
      <td class="mdl-data-table__cell--non-numeric"><%= ingredient.name %></td>
      <td>25</td>
      <td><%= ingredient.formatted_time %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to  new_ingredient_path do %>
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
  <i class="material-icons">add</i>
  </button>
<% end %>