<div class="breadcrumbs">
  <%= link_to "Prepare", prepare_path %> &gt;

  LOOKUP A BOX
</div>
<div class="lookupContainer">
  <p>Type the ID written on the box into the search field.</p>

  <%= form_tag find_by_id_ingredients_path, method: "get" do %>
    <%= text_field_tag(:search_term) %>
    <%= button_tag(type: "submit", class: "commitItemButton") do %>
      <i class="fi fi-magnifying-glass">  </i><span class="colorBlack">LOOKUP</span>
    <% end %>
  <% end %>
</div>
