<div class="breadcrumbs">
  <%= link_to "Prepare", prepare_path %> &gt;

  LOOKUP A BOX
</div>
<br>

<p>Type the ID written on the box into the search field, then click the 'Lookup Box!' button.</p>

<%= form_tag find_by_id_ingredients_path, method: "get" do %>
  <%= text_field_tag(:search_term) %>
  <%= submit_tag("Lookup Box!") %>
<% end %>
