<div class="ingredientTable">
  <table class="tableFontSize">
    <thead>
      <tr>
        <th width="130">NAME</th>
        <th>LOCATION</th>
        <th>LIFESPAN</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @ingredients.where(:location_id => nil).each do |ingredient| %>
      <tr>
        <td> <%= ingredient.name %></td>
        <td> N/A </td>
        <td> 
        <div class="progress radius success"><span class="meter success" style="width: 67%"></span></div>
        </td>
        <td class="button"> <%= link_to "Set Location", ingredient_path(ingredient) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>