<% if @ingredients.where(:location_id => nil).any? %>
  <div class="ingredientTable">
    <table class="tableFontSize">
      <thead>
        <tr>
          <th>NAME</th>
          <th>ITEM ID</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @ingredients.where(:location_id => nil).each do |ingredient| %>
          <tr>
            <td><%= ingredient.name %></td>
            <td><%= ingredient.id %> </td>
            <td>
              <%= link_to relocate_ingredient_locations_path(ingredient) do %>
                <div class="tableCellWidth">SET LOCATION</div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <%= link_to store_path do%>
    <button class="mainColor arrangeReturn highlightColor">
      <h3>ALL ITEMS PLACED</h3>
      <br>
      <h5><strong>RETURN</strong></h5>
    </button>
  <% end %>
<% end %>
