<%= link_to new_location_path do %>
  <button class="fatButton btn">
    <i class="fi-plus size-48"></i><br>LOCATION
  </button>
<% end %>

<%= link_to new_category_path do %>
  <button class="fatButton btn">
    <i class="fi-plus size-48"></i><br>CATEGORY
  </button>
<% end %>
