<h2>Potluck</h2>
<hr>
<%= link_to "STORE", home_store_path, :class => "btn-lg btn-primary" %>
<br><br>
<%= link_to "PREPARE", home_store_path, :class => "btn-lg btn-primary" %>
<br><br>
<%= link_to "ADMIN", home_store_path, :class => "btn-lg btn-danger" %>