
<%= link_to ingredients_unarranged_path do %>
  <button class="fatButton btn">
    <i class="fi-map size-48"></i><br>MOVE
  </button>
<% end %>

<%= link_to categories_path do %>
  <button class="fatButton btn">
    <i class="fi-plus size-48"></i><br>ITEM
  </button>
<% end %>

