<%= link_to ingredients_path do %>
  <button class="fatButton btn">
    ARRANGE
  </button>
<% end %>

<%= link_to categories_path do %>
  <button class="fatButton btn">
    <i class="fi-plus size-48"></i>
  </button>
<% end %>
