<%= link_to ingredients_path do %>
  <button class="fatButtonPrepare btn">
    <i class="fi-x size-48"></i>
    <br>EXPIRING
  </button>
<% end %>

<%= link_to ingredients_path do %>
  <button class="fatButtonPrepare btn">
    <i class="fi-magnifying-glass size-48"></i>
    <br>ITEM
  </button>
<% end %>

<%= link_to ingredients_path do %>
  <button class="fatButtonPrepare btn">
    <i class="fi-magnifying-glass size-48"></i>
    <br>LOCATION
  </button>
<% end %>

<%= link_to categories_path do %>
  <button class="fatButtonPrepare btn">
    <i class="fi-magnifying-glass size-48"></i>
    <br>CATAGORY
  </button>
<% end %>

