<div class="breadcrumbs">
  <%= link_to "Storage", store_path %> &gt;
  CATEGORIES
</div>

<div class="listContainer">
	<ul class="mainUL">
		<% Category.roots.order(:name).each do |category| %>
		  <li>
        <%= hierarchy_link(category, :store, @food_category, "button listButtons") %>
		  </li>
		<% end %>
	</ul>
</div>
