<% if category.parent %>
  <li class="adminLocationList">
<% else %>
  <li class="adminLocationListRoot">
<% end %>
  <%= link_to admin_category_path(category), data: {confirm: "Deleting this category will remove ALL food items nested within it in every subcategory! Are you sure?"}, method: :delete do %>
    <% if category.root? %>
      <span class="deleteSublocation"><i class="fi-x-circle makeBlack"></i></span>
    <% elsif category.children? %>
      <span class="deleteSublocationLight"><i class="fi-x-circle makeBlack"></i></span>
    <% else %>
      <span class="deleteSublocationLighter"><i class="fi-x-circle makeBlack"></i></span>
    <% end %>
  <% end %>
  <%= link_to new_admin_category_path(parent_id: category) do %>
    <span class="addSublocation"><i class="fi-plus makeBlack"></i></span>
  <% end %>
  <%= category.name %>
</li><br>
