<li>
  <%= category.name %>
  <%= link_to "Add subcategory", new_admin_category_path(parent_id: category) %>
  <%= link_to "Delete", admin_category_path(category), confirm: "You sure?", method: :delete %>
</li>
