<div class="breadcrumbs">
  <%= link_to "ADMIN TOOLS", admin_path %> &gt;

  CATEGORIES
</div>

<div class="adminControlContainer">
  <h4>Add a Top Level Food Label</h4>

  <%= render "form" %>
  <hr>
  <p class="warningLabel">If you delete a top level category label, all labels nested underneath it will be deleted as well!</p>
  <ul class="adminLocationUL">
    <%= nested_categories @categories.arrange(order: :name) %>
  </ul>
</div>
