<% content_for :title do %>
  Manage Food Categories
<% end %>

<% content_for :header_icon do %>
  <%= header_link admin_path %>
<% end %>

<h5>Add a Top Level Category</h5>
<%= render "form" %>

<ul class="tree-list">
  <%= nested_categories @categories.arrange(order: :name) %>
</ul>
