<div class="breadcrumbs">
  <%= link_to "ADMIN TOOLS", admin_path %> &gt;
  <%= link_to "CATEGORIES", admin_categories_path %> &gt;
  NEW
</div>

<div class="adminControlContainer">
  <h4>Add Nested Food Category</h4>
  <%= render "form" %>
</div>
