/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require material
 */

@import "material";

body {
  height: 100%;
}

body {
  max-width: 500px;
  position: relative;
  overflow: hidden;
  padding-bottom: 0;
}

ul {
  list-style-type: none;
  -webkit-padding-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.mdl-list {
  a {
    color: #757575;
  }
  > li {
    border-bottom: 1px solid #ddd;
  }
  li {
    height: 70px;
    line-height: 70px;
    &:hover {
      background: #eee;
    }
    &:last-child {
      border: none;
    }
  }
}

.inner-link-list {
  li {
    font-size: 16px;
    font-weight: 300;
    float: left;
    box-sizing: border-box;
  }
  .list-item-count {
    display: inline-block;
    width: 40%;
  }

  .list-item-name {
    display: inline-block;
    width: 60%;
  }
}

button.add-food-item {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.mdl-layout__tab-bar-container {
  .mdl-layout__tab-bar {
    background: #F1F1F1;
  }
  .mdl-layout__tab {
    color: #ccc;
    &.is-active {
      color: #3F51B5 !important;
    }
  }
}

.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after {
  background: #3F51B5 !important;
}

.circle {
  display: block;
  position: relative;
  height: 50px;
  width: 50px;
  margin: auto;
  line-height: 54px;
  border-radius: 50%;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 20px;
  font-weight: 200;
  color: #999;
  top: 50%;
  transform: translateY(-50%);
}

.mdl-layout__tab-bar {
  height: initial !important;
}

/* Breadcrumb Menu */
/*****************************************/

#breadcrumbs {
  height: 50px;
  background: white;
  line-height: 50px;
  padding-left: 20px;
  color: #666;
  a {
    color: #3F51B5;
  }
}

/* Header */
/*****************************************/

header {
  i {
    font-size: 30px !important;
  }
}

i.cart {
  float: right;
}

.mdl-layout__header-row {
  padding: 0 5px 0 30px !important;
}
