/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap-sprockets';
 @import 'bootstrap';

/* COLOR VARIABLES */

$main-color: #1B5E20;
$highlight-color: #FFC107;

/* TOP LEVEL ELEMENTS */

a {
	color: white;
}

a:hover{
	color: $highlight-color;
}

.mobileBlock {
	background-color: #E0E0E0;
	width: 375px;
	height: 667px;
}

/* NAVBAR */

.navbar {
	background-color: $main-color;
}

.userLogin {
	position: absolute;
	top: 3px;
	left:320px;
}

.alertCenter {
	position: fixed;
	top: 16px;
	left: 180px;
	color: $highlight-color;
	display: none;
}

/* BUTTONS */

.buttonPrimary {
	background-color: $main-color;
}

.moveLater {
    position: fixed;
	margin: 10px;
	top: 509px;
	left: 215px;
	background-color: $main-color;
	width: 120px;
	height: 120px;
	color: white;
}

.addButton {
	position: absolute;
	top: 235px;
	left: 180px;
}

.fatButton {
	position: relative;
	margin: 10px;
	top: 440px;
	left: 75px;
	background-color: $main-color;
	width: 120px;
	height: 120px;
	color: white;
}

.fatButtonSpecific {
	position: relative;
	margin: 10px;
	top: 260px;
	left: 45px;
	background-color: $main-color;
	width: 120px;
	height: 120px;
	color: white;
}

.fatButtonPrepare {
	position: relative;
	margin: 10px;
	top: 300px;
	left: 75px;
	background-color: $main-color;
	width: 120px;
	height: 120px;
	color: white;
}

.fatButtonBack {
	position: fixed;
	margin: 10px;
	top: 549px;
	left: 255px;
	background-color: $main-color;
	width: 80px;
	height: 80px;
	color: white;
}

.fatButtonBack:hover {
	color: $highlight-color;
}

.fatButtonBackCommit {
	position: fixed;
	margin: 10px;
	top: 554px;
	left: 125px;
	background-color: $main-color;
	width: 80px;
	height: 80px;
	color: white;
}

.fatButtonBackCommit:hover {
	color: $highlight-color;
}

.arrangeButton {
	position: absolute;
	top: 255px;
}

.listButtons {
	background-color: $main-color;
	width: 420px;
	height: 70px;
	line-height: 45px;
	font-size: 270%;
	text-align: left;
}

.listButtons:hover {
	color: $highlight-color;
}

.yellowPlusButton {
	color: $highlight-color;
}

/* TABLES */

.tableCell {
	font-size: 75%;
}

.ingredientTable {
	margin-left: 10px;
	width: 355px;
	height: 580px;
	overflow-y: scroll;
}

.theList {
	display: inline;
	float: right;
	list-style-type: none;
	height:354px; 
	width: 90%;
	overflow: hidden;
	overflow-y: scroll;
	text-align: right;
}

/* INPUT FIELDS */

.itemLifeSpanQuantity {
	position: fixed;
	top: 540px;
	left: 15px;
}

.quantityField {
	position: fixed;
	left: 86px;
	top: 370px;
}

input.quantityField {
	width: 200px;
	height: 60px;
	font-size: 200%;
}

.quantityLabel {
	position: fixed;
	left: 200px;
	top: 430px;
}

/* Breadcrumbs */

.crumbles {
	font-size: medium;
	color: black;
}

/* FOUNDATION ICON SIZES */

.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-36 { font-size: 36px; }
.size-48 { font-size: 48px; }
.size-60 { font-size: 60px; }
.size-72 { font-size: 72px; }


/* DEVISE USER LOGIN/LOGOUT */

.loginContainer {
	margin-left: 35px;
	width: 300px;
	text-align: center;
}

.deviseColor a {
	color: black;
}