/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap-sprockets';
 @import 'bootstrap';

/* COLOR VARIABLES */

$main-color: #2E7D32;
$highlight-color: #FFD54F;

/* GENERAL USE */

.mainColor {
	background-color: $main-color;
}

.highlightColor {
	background-color: $highlight-color;
	color: black;
	a {
	color: black;
	}
}

.makeBlack {
	color: black;
}

/* PAGE SETTINGS */

a {
	color: white;
}

a:hover{
	color: $highlight-color;
	text-decoration: none;
}

.mobileBlock {
	background-color: #E0E0E0;
	width: 375px;
	height: 667px;
}

/* NAVBAR */

.navbar {
	background-color: $main-color;
}

.userLogin {
	position: fixed;
	top: 4px;
	left: 320px;
}

.alertCenter {
	position: fixed;
	width: 170px;
	top: 18px;
	left: 155px;
	color: $highlight-color;
	display: none;
	font-size: 90%;
	text-align: center;
}

/* BUTTONS */

.bigBottomButtonLeft {
	position: fixed;
	top: 525px;
	left: 105px;
	background-color: $main-color;
	width: 120px;
	height: 120px;
	color: white;
}

.bigBottomButtonRight {
	position: fixed;
	top: 525px;
	left: 235px;
	background-color: $main-color;
	width: 120px;
	height: 120px;
	color: white;
}

.bigBottomButtonLeftTop {
	position: fixed;
	top: 395px;
	left: 105px;
	background-color: $main-color;
	width: 120px;
	height: 120px;
	color: white;
}

.bigBottomButtonRightTop {
	position: fixed;
	top: 395px;
	left: 235px;
	background-color: $main-color;
	width: 120px;
	height: 120px;
	color: white;
}

.listButtons {
	background-color: $main-color;
	width: 420px;
	height: 70px;
	line-height: 45px;
	font-size: 250%;
	text-align: left;
}

.cartButton {
	position: relative;
	bottom: 5px;
	left: 7px;
}

.adminButton {
	position: fixed;
	top: 635px;
	left: 307px;
	opacity: .3;
}

.adminButtons {
	width: 160px;
  background-color: $highlight-color;
  color: black;
}

.arrangeReturn {
	margin-left: 55px;
	margin-top: 50px;
}

.listButtons:hover {
	color: $highlight-color;
}


/* TABLES */

.tableCell {
	font-size: 85%;
}

.tableCellWidth {
  width: 140px;
  height: 50px;
  line-height: 30px;
}

.ingredientTable {
	margin-left: 10px;
	width: 355px;
	height: 580px;
	overflow-y: scroll;
}

.cartTable {
	margin-left: 10px;
	width: 355px;
	height: 430px;
	overflow-y: scroll;
}

.theList {
	display: inline;
	float: right;
	list-style-type: none;
	height:354px;
	width: 90%;
	overflow: hidden;
	overflow-y: scroll;
	text-align: right;
}

.expiredItem {
	color: red;
}

.freshItem {
	color: green;
}

/* INPUT FIELDS */

.quantityField {
	position: fixed;
	left: 86px;
	top: 370px;
}

input.quantityField {
	width: 200px;
	height: 60px;
	font-size: 200%;
}

.quantityLabel {
	position: fixed;
	left: 200px;
	top: 430px;
}

/* Breadcrumbs */

.breadcrumbs {
  position: relative;
  bottom: 20px;
  height: 45px;
  border-style: none;
  box-shadow: 0 5px 0 0 #BDBDBD;
  overflow-y: scroll;
}

.crumbles {
	font-size: 140%;
	line-height: 35px;
  color: $main-color;
}


ul.breadcrumbs li:before {
  content: ">";
}

/* FOUNDATION ICON SIZES */

.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-36 { font-size: 36px; }
.size-48 { font-size: 48px; }
.size-60 { font-size: 60px; }
.size-72 { font-size: 72px; }


/* DEVISE USER LOGIN/LOGOUT */

.loginContainer {
	margin-left: 35px;
	width: 300px;
	text-align: center;
}

.deviseColor a {
	color: black;
}

/* ADMIN */

.adminContainer {
	margin-left: 35px;
	width: 300px;
  text-align: center;
}

.itemContainer {
  margin: 50px;
}
