
@import "material";

body {
  position: relative;
  overflow: hidden;
  padding-bottom: 0;
}

ul {
  list-style-type: none;
  -webkit-padding-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.mdl-list {
  list-style-type: none;
  a {
    color: #757575;
  }
  li {
    height: 70px;
    line-height: 70px;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    font-weight: 300;
    box-sizing: border-box;
  }
}

.inner-link-list {
  li {
    float: left;
  }
  .list-item-count {
    display: inline-block;
    width: 30%;
  }

  .list-item-name {
    display: inline-block;
    width: 70%;
  }
}

button.add-food-item {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.mdl-layout__tab-bar-container {
  .mdl-layout__tab {
    color: #ccc;
    &:hover,
    &:focus,
    &active {
      text-decoration: none;
    }
  }
}

.circle {
  display: block;
  position: relative;
  height: 50px;
  width: 50px;
  margin: auto;
  line-height: 50px;
  border-radius: 50%;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 14px;
  font-weight: 200;
  color: #999;
  top: 50%;
  transform: translateY(-50%);
}

.mdl-layout__tab-bar {
  height: initial !important;
}

/* Breadcrumb Menu */
/*****************************************/

#breadcrumbs {
  height: 48px;
  white-space: nowrap;
  background: white;
  line-height: 48px;
  padding: 0 20px;
  color: #666;
  overflow-x: scroll;
  a {
    color: #3F51B5;
  }
}

/* Header */
/*****************************************/

.mdl-layout__header {
  z-index: 1;
}

header {
  i {
    color: white;
  }
  .main-icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.potluck-icon {
  font-size: 26px;
}

i.cart {
  float: right;
}

.mdl-layout__header-row {
  padding: 0 0px 0 60px !important;
  position: relative;
  .right-nav-wrapper {
    padding-right: 20px
  }
}

#cart-link {
  padding-right: 15px;
}

/* MDL Add Button */
/*****************************************/

.mdl-button--fab {
  &.add-button {
    position: fixed;
    // height: 65px;
    // width: 65px;
    bottom: 18px;
    right: 20px;
    z-index: 9999;
  }
}

/* Hide scrollbars */
.mdl-layout__content {
  height: 100%;
  /* Chrome and Safari */
  &::-webkit-scrollbar {
    width: 0 !important
  }
  /* IE 10 */
  -ms-overflow-style: none;
  /* Firefox */
  overflow: -moz-scrollbars-none;
  z-index: 0;
}

a {
  text-decoration: none;
}

header {
  .mdl-menu__container {
    right: 5px;
    z-index: 6;
  }
}

.match-parent-height {
  height: 100%;
}

form {
  .form-control,
  .btn-default {
    border-radius: 0;
    height: 40px;
    font-size: 16px;
  }
}

.btn-stretch {
  width: 100%;
}

.sign-in {
  margin-top: 15px;
  label {
    font-weight: 300;
    font-size: 16px;
  }
  .sign-in-wrapper {
    margin-top: 15px;
  }
}

.mdl-list {
  .add-item-row {
    line-height: 20px;
  }
  .indent {
    width: 60%;
    padding-left: 10%;
  }
  .full-width {
    width: 100%;
  }
  .right-column {
    text-align: right;
    width: 40%;
    padding-right: 30px;
    line-height: 18px;
    padding-top: 26px;
  }
  .location-expiration-column {
    padding: 15px 0 0 30px;
    line-height: 20px;
    .item-location {
      color: #555;
      font-weight: 300;
      font-size: 18px;
      position: relative;
    }
  }
  .item-add {
    float: right;
    margin-right: 40px;
    color: #333;
    i {
      line-height: 70px;
      font-size: 27px;
    }
  }
  .expiration-message {
    display: inline-block;
    margin-top: 3px;
    color: #888;
    font-size: 14px;
  }
}

.mega-btn {
  display: block;
  margin: 0 20px;
  padding: 10px 0;
  height: initial;
}

.button-group {
  position: relative;
  top: 19%;
  &.item-details {
    top: 8%;
  }
  a:not(:last-child) {
    margin-bottom: 20px;
  }
}

.vertically-centered {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
}

.stretch {
  width: 100%;
}

.li-link {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding-left: 40px;
}

.expiration-wrapper {
  margin-top: 200px;
  .datepicker {
    font-size: 28px;
    padding: 5px;
    margin-bottom: 20px;
  }
}

footer {
  position: absolute;
  background: #424242;
  bottom:0;right:0;left:0;
  text-align: center;
  font-size: 16px;
  div {
    line-height: 50px;
  }
  .col-xs-6 {
    &:last-child {
      border-left: 1px solid #666;
    }
  }
}

.card-main {
  font-size: 28px;
}

.card-sub {
  font-weight: 200;
  font-size: 18px;
}

#flash {
  position: fixed;
  top: 0;right:0;left:0;
  height: 56px;
  text-align: center;
  line-height: 56px;
  background: #ff4081;
  color: white;
  font-size: 20px;
  z-index: 9997;
}

.absolutely-centered {
  position: absolute;
  top:0;right:0;left:0;bottom:0;
  margin: auto;
}

.quick-links-lightbox {
  z-index: 9999;
}

.backdrop {
  position: fixed;
  top:0;right:0;bottom:0;left:0;
  background: rgba(0,0,0,.5);
  z-index: 9998;
}

.add-to-cart {
  float: right;
  position: relative;
  top: 11px;
  right: 18px;
}

.remove-from-cart {
  float: right;
  margin-right: 25px;
  line-height: 70px;
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 5px;
    height: 0px;
    background-color: #EEEEEE;
}
