<% content_for :title do %>
  Categories
<% end %>

<% link_type ||= nil %>

<ul class="theList">
  <% @food_category_children.each do |item| %>
    <li>
      <%= hierarchy_link(item, link_type, @food_category, "button listButtons") %>
    </li>
  <% end %>
</ul>
