<ul class="breadcrumbs">
	<br>
	<span class="breadButtonRack">
		<%= link_to :back do %>
			<span class="cartBreadButton"><i class="fi fi-arrow-left"></i><br>BACK</span>
		<% end %>
	</span>
</ul>

<div class="listContainer">
	<ul class="theList" id="smoothScroll">
		<% @food_categories.each do |category| %>
		  <li>
				<%= link_to category_path(category) do %>
		  		<span class="button listButtons">
		  		  <%= category.name %>
		  		</span><br>
		  	<% end %>
		  </li>
		<% end %>
	</ul>
</div>
