<ul class="breadcrumbs">
<br>
</ul>

<div class="listContainer">
	<ul class="theList" id="smoothScroll">
		<% @categories.each do |category| %>
		  <li>	
			<%= link_to category_path(category) do %>
		  		<span class="button listButtons">
		  		 <%= category.name %>
		  		</span><br>
		  	<% end %>
		  </li>
		<% end %>
	</ul>
</div>

<a href="javascript:history.back()" class="button bigBottomButtonRight"><br><i class="fi-arrow-left size-48"></i></a>