<ul class="breadcrumbs">
<br>

  <br>
  <% if @category != nil %>
	  <li class="crumbles"><%= @categories[@category.parent_id - 1].name %><a href="#"></a></li><br><br>
	  <li class="crumbles"><%= @category.name %><a href="#"></a></li><br><br>
	  <li class="crumbles"><a href="#"></a></li><br><br>
  <% else %>
  
  
  <% end %>
</ul>

<div class="listContainer">
	<ul class="theList">
		<% @categories.each do |category| %>
		  <li>	
			<%= link_to category_path(category) do %>
		  		<span class="btn listButtons">
		  		 <%= category.name %>
		  		</span><br>
		  	<% end %>
		  </li>
		  <br>
		<% end %>
	</ul>
</div>