<ul class="breadcrumbs">
	<h1 id="titleHeading" class="titleHeading">SELECT CATEGORY</h1>
	<span class="breadButtonRack">
				<input type="button" class="cartBreadButton backButton"   onclick="history.back(-1)" value="BACK"  />
	</span>
</ul>

<div class="listContainer">
	<ul class="theList" id="smoothScroll">
		<% Category.roots.order(:name).each do |category| %>
		  <li>
				<%= link_to category_path(category) do %>
		  		<span class="button listButtons">
		  		  <%= category.name %>
		  		</span><br>
		  	<% end %>
		  </li>
		<% end %>
	</ul>
</div>
