<ul class="breadcrumbs">
  <br>
</ul>

<div class="listContainer">
  <ul class="theList" id="smoothScroll">
    <li>
      <% unless @hide_no_location_option %>
        <%= link_to "Add without location", store_category_ingredients_path(@category), class: "button listButtons", method: :post %>
      <% end %>
    </li>
    <% @locations.each do |location| %>
      <li>
        <%= link_to location.name, store_category_location_path(@category, location), class: "button listButtons" %>
      </li>
    <% end %>
  </ul>
</div>

<a href="javascript:history.back()" class="button bigBottomButtonRight"><br><br><i class="fi-arrow-left size-48"></i></a>
