<ul class="breadcrumbs">
  <h1 id="titleHeading" class="titleHeading">SELECT LOCATION</h1>
  <span class="breadButtonRack">
				<input type="button" class="cartBreadButton"   onclick="history.back(-1)" value="BACK"  />
	</span>
</ul>

<div class="listContainer">
  <ul class="theList" id="smoothScroll">
    <li>
      <% unless @hide_no_location_option %>
        <%= link_to choose_expiration_store_category_path(@category), class: "button listButtons" do %>
          <i class="fi fi-minus-circle"></i>  Add without location
        <% end %>

        <%#= link_to "Add without location", store_category_ingredients_path(@category), class: "button listButtons", method: :post %>
      <% end %>
    </li>
    <% @locations.each do |location| %>
      <li>
        <%= link_to location.name, store_category_location_path(@category, location), class: "button listButtons" %>
      </li>
    <% end %>
  </ul>
</div>
