<ul class="mdl-list">
	<% Location.roots.order(:name).each do |location| %>
		<li class="ripple" data-ripple-color="#3f51b5">
			<%= link_to location_path(location) do %>

				<ul class="inner-link-list">
					<li class="list-item-count">
						<span class="circle">
							<%= location.ingredients_count || 0 %>
						</span>
					</li>
					<li class="list-item-name">
						<%= location.name %>
					</li>
				</ul>
			<% end %>
		</li>
	<% end %>
</ul>
