<div class="breadcrumbs">
  <%= link_to "Prepare", prepare_path %> &gt;
  
  LOCATIONS
</div>

<div class="listContainer">
  <ul class="mainUL">
    <% Location.roots.order(:name).each do |location| %>
      <li>
        <%= link_to location_path(location) do %>
  		    <span class="button listButtons">
      	    <%= location.name %>
      	  </span><br>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
