<ul class="breadcrumbs">
  <h1 id="titleHeading" class="titleHeading">SELECT LOCATION</h1>
  <span class="breadButtonRack">
        <input type="button" class="cartBreadButton"   onclick="history.back(-1)" value="Back"  />
  </span>
</ul>

<div class="listContainer">
  <ul class="theList" id="smoothScroll">
    <% @locations.each do |location| %>
      <li>
        <%= link_to location_path(location) do %>
  		    <span class="button listButtons">
      	    <%= location.name %>
      	  </span><br>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
