<h3>Assignable Locations</h3>


<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Location</th>
      <th>Sub-Locations</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
  <% @locations.each do |location| %>
    <tr>
      <td class="mdl-data-table__cell--non-numeric"><%= location.name %></td>
      <td>25</td>
      <td><%= location.formatted_time %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to  new_location_path do %>
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
  <i class="material-icons">add</i>
  </button>
<% end %>