<ul class="theList">
  <% @sublocations.each do |location| %>
    <li>
      <span><%= location.item_count %></span>
      <%= hierarchy_link(location, :location, nil, "button listButtons") %>
    </li>
  <% end %>
</ul>
