<%= @location.name %>

<ul>
  <% @sublocations.each do |location| %>
    <li>
      <%= link_to location.name, location_path(location) %>
    </li>
  <% end %>
</ul>

<ul>
  <% @location.ingredients.each do |ingredient| %>
    <li>
      <%= link_to ingredient.name, location_ingredient_path(@location, ingredient) %>
    </li>
  <% end %>
</ul>
