<!DOCTYPE html>
<html>
<head>
  <title>Potluck</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.1/material.indigo-pink.min.css">
  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.1/material.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>

<div class="container">
	
  <div class="mobileBlock">
    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1">
	  <input type="checkbox" id="switch-1" class="mdl-switch__input" checked />
	  <span class="mdl-switch__label"></span>
	</label>
	<%= yield %>
  </div>
</div>

</body>
</html>
